version: '3.8'

services:
  model-service:
    image: ghcr.io/remla25-team17/model-service:latest
    container_name: model-service
    ports:
      - "8080:8080"  
    restart: unless-stopped

  app:
    image: ghcr.io/remla25-team17/app:latest
    container_name: app
    ports:
      - "5000:5000"  
    depends_on:
      - model-service
    environment:
      - MODEL_SERVICE_URL=http://localhost:8080  # example of linking app to model-service
    restart: unless-stopped
