version: "3.8"

services:
  model-service:
    image: ${MODEL_IMAGE_NAME}:${MODEL_IMAGE_TAG}
    container_name: model-
    platform: linux/amd64
    volumes:
      - ./model:/app/model/
      - ./bag_of_words:/app/bag_of_words/
    env_file:
      - environments/model-service.env
    secrets:
      - example_secret
    restart: unless-stopped

  app:
    image: ${APP_IMAGE_NAME}:${APP_IMAGE_TAG}
    container_name: app
    platform: linux/amd64
    ports:
      - "5000:5000"
    depends_on:
      - model-service
    env_file:
      - environments/app.env
    secrets:
      - example_secret
    restart: unless-stopped

secrets:
  example_secret:
    file: ./secrets/example_secret.txt
