app:
  name: app
  replicas: 1
  image:
    repository: "ghcr.io/remla25-team17/app-service"
    tag1: "latest"
    tag2: "latest"
    pullPolicy: Always

model:
  name: model-service
  replicas: 1
  version: "0.1.2"
  image:
    repository: "ghcr.io/remla25-team17/model-service"
    tag1: "0.1.23-canary.4"
    tag2: "0.1.23-canary.4"
    pullPolicy: Always
  modelUrl: "https://github.com/remla25-team17/model-training/releases/download/0.1.2/model.pkl"
  modelPath: "model/model.pkl"

service:
  type: ClusterIP
  port: 5000
  host: "0.0.0.0"

backendService:
  port: 8080
  host: "0.0.0.0"

ingress:
  enabled: true
  hostname: "app.local"

secrets:
  smtpPassword: "password"

volume:
  enabled: true
  hostPath: /mnt/shared

monitoring:
  release: prometheus
  path: /api/v1/metrics
  interval: 15s

grafana:
  additionalDataSources: []
  additionalDashboards:
    default:
      grafana-dashboard-configmap:
        main_dashboard.json: true
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: default
          orgId: 1
          folder: ""
          type: file
          disableDeletion: false
          options:
            path: /grafana
