apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-alertmanager-config
  namespace: monitoring
data:
  config.yml: |-
    global:
    templates:
      - '/etc/alertmanager/template/*.tmpl'
    route:
      route: 
        receiver: 'team17'
      group_by: ['alertname', 'priority']
      group_wait: 10s
      repeat_interval: 30m

    receivers:
    - name: 'team-17'
      email_configs:
      - to: 'remla25-team17@example.com'
        from: 'remla25-team17@example.com'
        smarthost: 'smtp.example.com:587'
        auth_username: 'remla25-team17'
        auth_password: {{.Values.secrets.smtpPassword }}
